* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}



.header-wrapper {
    background-color: #1F2937;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 992px;
    margin: 0 auto;
}

.header-wrapper nav ul {
    list-style-type: none;
    display: flex;
}

.header-wrapper nav ul li{
    margin-left: 20px;
}

.header-wrapper nav ul li a {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.header-wrapper nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    color: #f9faf8;
}