* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}


.header-wrapper {
    background-color: #1F2937;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 992px;
    margin: 0 auto;
}

.header-wrapper nav ul {
    list-style-type: none;
    display: flex;
}

.header-wrapper nav ul li{
    margin-left: 20px;
}

.header-wrapper nav ul li a {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.header-wrapper nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    padding: 50px 0;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 3rem;
}

.margin-left {
    margin-left: 20px;
}

.hero p {
    color: #e5e7eb;
    font-size: 1.125rem;
    padding: 5px;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    height: 2rem;
    width: 8.25rem;
}

.info {
    background-color: whitesmoke;
    padding-bottom: 125px;
}

.info p {
    font-size: 18px;
    color: gray;
}

.info img {
    border-radius: 15px;
}

    .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    text-align: center;
}
