* {
    margin:0;
    padding:0;
    font-family: roboto;
}

a {
    text-decoration: none;
}


.header-wrapper {
    background-color: #1F2937;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 992px;
    margin: 0 auto;
}

.header-wrapper nav ul {
    list-style-type: none;
    display: flex;
}

.header-wrapper nav ul li{
    margin-left: 20px;
}

.header-wrapper nav ul li a {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.header-wrapper nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo {
    font-size: 1.5rem;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    padding: 50px 0;
    color: #f9faf8;
    font-weight: bolder;
    font-size: 3rem;
}

.margin-left {
    margin-left: 20px;
}

.hero p {
    color: #e5e7eb;
    font-size: 1.125rem;
    padding: 5px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    height: 2rem;
    width: 8.25rem;
}

.info {
    background-color: whitesmoke;
    padding-bottom: 125px;
}

.info p {
    font-size: 18px;
    color: gray;
}

.info img {
    border-radius: 15px;
}

    .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    text-align: center;
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 992px;
    margin: 0 auto;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding-top: 138px;
    padding-bottom: 100px;
}

.quote p {
    font-size: 20;
    font-weight: bold;
    font-style: normal;
}

.container4 p {
    align-self: flex-end;
}

.action {
    background-color: whitesmoke;
    padding: 100px 0;

}

.action p:first-child {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.action p:nth-of-type(2) {
    color: #f9faf8;
}

.container5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 992px;
    margin: 0 auto;
    background-color: #3882F6;
    border-radius: 15px;
    padding: 50px 120px;
}

.action button {
    border: 5px solid whitesmoke;
}

